/***Login***/
.login-auth-left {
  width: 0;
}

.login-auth-left img {
  width: 0;
}

.login-auth-right {
  width: 100%;
  background-image: url(../assets/modele-dimmed.jpg);
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
}

.login {
  padding: 10px;
}

.login input {
  cursor: inherit;
  width: calc(100% - 44px);
  height: 26px;
  padding: 10px;
  margin: 0 12px;
  background-color: var(--dark-blue-color);
  border: 1px solid var(--dark-grey-color);
  color: var(--dark-text-regular);
  border-radius: 7px;
  margin-bottom: 15px;
}

.loginBtn,
.registerBtn {
  width: 45%;
  padding: 10px;
  margin: 12px 0;
  background-color: var(--red-color);
  color: var(--dark-text-regular);
  border: transparent 1px solid;
  border-radius: 6px;
}

.loginBtn:hover,
.registerBtn:hover {
  cursor: pointer;
}

.forgot {
  text-align: right;
  cursor: pointer;
  margin: 0 12px;
}

/***MEDIA QUERIES***/

@media screen and (min-width: 1200px) {
  .login-auth-left,
  .login-auth-right {
    width: 50%;
  }

  .login-auth-left {
    margin-right: 20px;
    background-image: url(../assets/modele.jpg);
    background-size: cover;
    background-position: 50%;
  }

  .login-auth-left img {
    width: 60px;
    margin: 30px;
    border-radius: 6px 0 6px 6px;
  }

  .login-auth-right {
    background-image: none;
  }

  .login-border {
    border-left: var(--dark-text-regular) 1px solid;
  }
}
