.bubbleGrid {
	padding: 0 5px;
	--diameter: 20px;
}

.line1,
.line2,
.line3 {
	display: flex;
	flex-direction: row;
}

.bubble {
	width: var(--diameter);
	height: var(--diameter);
	margin: 5px;
	border-radius: 50%;
	border: #3b4253 1px solid;
}

.bubble:hover {
	cursor: pointer;
	background-color: white;
}

.bubbleactive,
.bubbleactive:hover {
	background-color: var(--red-color);
}
