/***Copyright***/

.copyrightContainer {
	padding-top: 12px;
}

.position {
	width: max(300px, 30%);
}

.copyright {
	min-width: 70%;
}

.fontName {
	width: calc(65% - 10px);
}

.fontSize {
	width: calc(35% - 10px);
}

.fontSelect {
	cursor: inherit;
	width: 100%;
	padding: 10px;
	background-color: var(--dark-blue-color);
	border: 1px solid var(--dark-grey-color);
	color: white;
	border-radius: 0.5em;
}

.fontName select {
	min-width: 150px;
}
.fontSize select {
	min-width: 80px;
}

.fontName:hover,
.fontSize:hover {
	cursor: pointer;
}

.credit {
	width: 100%;
	padding-bottom: 10px;
}

.credit input {
	cursor: inherit;
	width: calc(100% - 20px);
	height: 26px;
	padding: 10px;
	background-color: var(--dark-blue-color);
	border: 1px solid var(--dark-grey-color);
	color: white;
	border-radius: 7px;
}

.merriweather {
	font-family: "Merriweather", serif;
}
.monserrat {
	font-family: "Montserrat", sans-serif;
}
.oldStandardTT {
	font-family: "Old Standard TT", serif;
}
.openSans {
	font-family: "Open Sans", sans-serif;
}
.playfairDisplay {
	font-family: "Playfair Display", serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
