/***Destination folder***/

.inputFolder {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--dark-grey-color);
	background-color: var(--dark-blue-color);
	color: white;
	border-radius: 0.5em;
}

.textBlock {
	padding: 5px;
}
.textBlock:hover {
	cursor: pointer;
}
