/***Copyright***/
.copyrightContainer {
	justify-content: space-between;
}

.copyright {
	width: 70%;
}

.fontName,
.fontSize {
	width: 50%;
	padding: 0 10px;
}

.fontSelect {
	cursor: inherit;
	width: 100%;
	padding: 10px;
	background-color: var(--dark-blue-color);
	border: #3b4253 1px solid;
	color: white;
	border-radius: 0.5em;
}

.fontName select {
	min-width: 140px;
}
.fontSize select {
	min-width: 50px;
}

.credit {
	padding: 10px;
}

.credit input {
	cursor: inherit;
	width: calc(100% - 20px);
	height: 26px;
	padding: 10px;
	background-color: var(--dark-blue-color);
	border: #3b4253 1px solid;
	color: white;
}

.merriweather {
	font-family: "Merriweather", serif;
}
.monserrat {
	font-family: "Montserrat", sans-serif;
}
.oldStandardTT {
	font-family: "Old Standard TT", serif;
}
.openSans {
	font-family: "Open Sans", sans-serif;
}
.playfairDisplay {
	font-family: "Playfair Display", serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
