@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Old+Standard+TT&family=Open+Sans&family=Playfair+Display&family=Roboto&display=swap");

/***App***/
:root {
	--main-bg-color: #0e0e15;
	--dark-blue-color: #181924;
	--red-color: #dd5353;
}
.flex {
	display: flex;
}
.aic {
	align-items: center;
}
.jcc {
	justify-content: center;
}
.col {
	flex-direction: column;
}
.row {
	flex-direction: row;
}
label {
	margin-bottom: 6px;
}
a {
	color: white;
}
/***navbar***/
.navbar {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 64px;
	padding: 0 10px;
	/* font-size: 26px;
	font-weight: bolder; */
	/* color: var(--red-color); */
	background-color: #23242e;
	z-index: 10;
}

.navContainer {
	padding: 10px;
	width: 20%;
}
.navContainer a {
	padding: 10px;
}

.logoContainer {
	padding: 10px;
	margin: auto;
	margin-left: calc(20% + 20px);
}

.logoContainer img {
	height: 30px;
	margin: auto;
}

/***bodyContainer***/
.bodyContainer {
	min-height: 100vh;
	height: 100%;
	padding: 10px 20px;
	color: white;
}

h2 {
	margin: 0 0 10px 20px;
}

/**** New event (top div) ****/

.copyrightContainer,
.folderContainer,
.enhancementContainer {
	padding-top: 12px;
}
.topDiv {
	justify-content: space-between;
}

.eventInfo,
.preview {
	position: relative;
	align-items: left;
	margin: 0px 20px;
	background-color: var(--dark-blue-color);
}
.eventInfo {
	padding: 20px;
	width: calc(50vw - 60px);
}
.preview {
	width: calc(50vw - 20px);
}

.inputEvent,
.inputWatermark,
.inputTeam {
	padding: 10px;
	margin-bottom: 15px;
	border: #3b4253 1px solid;
	background-color: var(--dark-blue-color);
	color: white;
	border-radius: 0.5em;
}
.below {
	color: #66686d;
	font-size: 12px;
	margin: -12px 0px 20px 4px;
}

/***watermark***/

.watermarkPosition {
	justify-content: space-between;
}
/* .watermarkGrid {
	width: 30%;
} */
.watermarkSliders,
.copyrightElts {
	width: 70%;
}
.sliderRedBar {
	width: 100%;
	height: 4px;
	background-color: var(--red-color);
	margin-top: 15px;
}
.sliderContainer {
	width: 100%;
	position: relative;
}

.sliderRange {
	width: 100%;
	margin: 0;
	margin-top: 0px;
	padding: 0;
}

.boxSize {
	position: absolute;
	right: 0px;
	top: -30px;
	padding: 0 5px;
	width: 20px;
	border: #3b4253 1px solid;
	background-color: #3b4253;
	color: white;
}

.sliderCircle {
	appearance: none;
	height: 5px;
	width: 100%;
	width: 100%;
	margin: 10px 0;
	border-radius: 2.5px;
	background: #3b4253;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.sliderCircle::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border: 2.5px solid var(--red-color);
	border-radius: 50%;
	background: #3b4253;
	cursor: pointer;
}

/***preview***/
.imgContainer {
	position: relative;
}
.imgContainer img {
	max-width: 100%;
	height: 100%;
}

.above {
	position: absolute;
	left: 0;
	top: -32px;
	font-size: 12px;
	color: #b4b7bd;
}

/***Options (bottom div)***/
.bottomDiv {
	flex-wrap: wrap;
	height: 800px;
}

.optionCard {
	font-size: 14px;
	width: calc((100vw - 300px) / 3);
	flex: 1; /*enables 3 equal columns*/
	background-color: var(--dark-blue-color);
	margin: 20px;
	padding: 10px 20px;
}

.optionTitle {
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: #3b4253 1px solid;
}

.optionLine {
	justify-content: space-between;
}

.recentEventCard {
	width: calc(25% - 20px);
	height: 130px;
	border-radius: 6px 0 6px 6px;
	margin: 10px;
	padding: 20px;
}
.recentEventCard:hover {
	cursor: pointer;
}

.eventTable {
	background-color: var(--dark-blue-color);
	width: calc(100% - 20px);
	height: 800px;
	margin: 10px;
}

.ev1 {
	/* background-color: violet; */
	background-image: linear-gradient(
		to right top,
		#756af0,
		#7f74f1,
		#897ff3,
		#9389f4,
		#9c93f5
	);
}
.ev2 {
	/* background-color: var(--red-color); */
	background-image: linear-gradient(
		to right top,
		#ea5455,
		#ec6060,
		#ee6b6c,
		#ef7677,
		#f08182
	);
}
.ev3 {
	/* background-color: orange; */
	background-image: linear-gradient(
		to right top,
		#ff932c,
		#ff9d40,
		#ffa652,
		#ffaf64,
		#ffb875
	);
}
.ev4 {
	/* background-color: rgb(50, 218, 50); */
	background-image: linear-gradient(
		to right top,
		#2ac871,
		#32cc77,
		#3ad17d,
		#41d583,
		#48da89
	);
}

.eventRow {
	padding: 10px;
	width: calc(100% - 20px);
	background-color: #66686d;
	border-top: 1px solid #0e0e15;
}

/***MEDIA QUERIES***/

@media screen and (max-width: 1200px) {
	.bodyContainer {
		padding: 0;
	}
	.bottomDiv {
		height: 100%;
		padding-bottom: 10px;
	}
	.topDiv,
	.bottomDiv {
		display: block;
	}

	.eventInfo {
		width: calc(100% - 80px);
	}

	.preview {
		width: calc(100% - 40px);
		margin-top: 35px;
	}

	.optionCard {
		width: calc(100% - 80px);
	}

	.recentEventCard {
		width: calc(100% - 60px);
	}
}
